@font-face {
   font-family: 'Futura Bold font';
   src: url('Futura Bold font/font.ttf');
}
@font-face {
   font-family: 'unicode.futurab';
   src: url('unicode.futurab/font.ttf');
}
@font-face {
   font-family: 'futura medium bt';
   src: url('futura medium bt/font.ttf');
}
@font-face {
   font-family: 'futura light bt';
   src: url('futura light bt/font.ttf');
}
@font-face {
   font-family: 'futura medium condensed bt';
   src: url('futura medium condensed bt/font.ttf');
}
